.navbar img{
    width:18%;
    height:min-content;
    padding-left:1%;
}



#navbarLight ul li a{
    color:#fd0000;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#navbarLight ul li a:hover{
    color:rgb(4, 184, 254);
    text-decoration:underline;
    /* font-weight:bold; */
    
}

.navbar .btn{
    margin-right:0.4rem;
    box-shadow:0px 0px 5px grey;
    margin-top:1%;
    font-size:smaller;

    
}
.navbar .btn:hover{
    background: #fd0000;
    color:white;
}
.video-bg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-overlay-text {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    padding: 0 15px;
}

.video-overlay-text h1 {
    font-size: 4vw; 
    /* text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.7); */
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:lightslategray;
}

.highlight {
    color: #fd0000;
    text-shadow: none;
}
.map-area{
    background-image:url('map5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:50vw;


}
.boxarea{
    /* width: 80rem; */
    text-align:center;
    /* background: yellow; */
    margin:0 auto;
}
.boxarea h1{
    color:rgba(2, 12, 11, 0.815);
    text-align:center;
    margin:0;
    margin-top:6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-shadow:1px 1px 3px #fd0000; */
    font-size:2em;
    
}


.statearea{
    width:90%;
    margin:0 auto;
    height:70%;
    /* border:solid 2px red; */
    /* background: yellow; */
    margin-top:10%;
    overflow:scroll;
}
.card{
    width:20vw;
    height:15vw;
    
    float:left;
    margin-left:10%;
    margin-top:4%;
    /* border-top-right-radius:10%; */
    /* border-bottom-left-radius:10%; */
    text-align:center;
    transition:1s;
    overflow:hidden;

}
.card:hover{
    transform:scale(1.1);
}

.card:hover img{
    transform:scale(1.1);
    

}
.card img{
    width:98%;
    height:90%;
    /* border-top-right-radius:10%; */
    text-align:center;
    margin-left:1%;
    margin-top:1%;
    transition: transform 1s ease; 


    

}
.card-body{
    padding:0.5em;
}
.card-body h5{
    margin-left:0;
    margin:0;
    padding:0;
    border-left:solid 0.11em #fd0000;
    /* padding-left:5%; */
}
.card-title{
    margin:0;
    padding:0;
    font-size:1.8vw;
    font-family: "Noto Serif Display", serif;
}

.card2{
    margin:0 auto;
    /* height:60vh; */
    margin-top:20%;
    box-shadow:0px 0px 10px 0px rgb(118, 113, 113);
    
}
.g-0 img{
    margin-top:2rem;
}
.card-body2 h5{
    border-left:3px solid #fd0000;
    color:black;
    padding-left:1rem;
    font-size:1.5em;
    margin-left:0.2em;
    font-family: "Noto Serif Display", serif;
    
}
.card-body2 p{
    font-family:mv boli;
    font-size:1em;
    margin-left:0.2em;



}
.card-text p{
    font-size:5vw;
    margin-left:0.2em;

}
.btn{
    width:8rem;
    font-size:1rem;
    margin-left:0.2em;
    /* height:vh; */
}






.animation-area{
  margin-top:10%;
}

.animation-text{
  text-align:center;
  /* margin-top:5%; */
  border-left:groove 4px skyblue;
  border-top:groove 4px skyblue;
}
.animation-text h3{
  margin-top:8%;
  font-family: "Noto Serif Display", serif;
  
}




.heart-img img{
  width:20%;
  margin:0;


}











/* body {
  background: #eee;
} */

.gallery {
  --size: min(60vmin, 400px);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 
    0 0 10px #0002,
    0 20px 40px -20px #0004;
  width: var(--size);
  height: var(--size);
  background: #fff;
  border: 6px solid #fff;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  gap: 6px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes moveHorizontal {
  to {
    object-position: 100% 0;
  }
}

@keyframes moveVertical {
  to {
    object-position: 0 100%;
  }
}

@keyframes shrinkVertical {
  to {
    height: 0;
  }
}

@keyframes shrinkHorizontal {
  to {
    width: 0;
  }
}


@keyframes growHorizontal {
  to {
    width: 100%;
  }
}
@keyframes growHorizontal2 {
  to {
    width: 70%;
  }
}

@keyframes growVertical {
  to {
    height: 100%;
  }
}


@keyframes growAll {
  to {
    width: 100%;
    height: 100%;
  }
}

.gallery img:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  animation: 
    moveHorizontal 8.5s 0.5s 1,
    shrinkHorizontal 2s 9s ease-in 1;
  animation-fill-mode: forwards;
}

.gallery img:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  animation: 
    shrinkHorizontal 2s 11s 1;
  animation-fill-mode: forwards;
}

.gallery img:nth-child(3) {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: end;
  object-position: 0 0;
  animation:
    moveVertical 5s 1s 1,
    shrinkVertical 3s 5s 1;
  animation-fill-mode: forwards;
}

.gallery img:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 1;
  width: 0;
  justify-self: center;
  align-self: start;
  animation: 
    growHorizontal 2.25s 11s 1,
    moveHorizontal 4s 14s 1,
    shrinkVertical 2s 18s 1;
  animation-fill-mode: forwards;
}

.gallery img:nth-child(5) {
  grid-column: 1;
  grid-row: 2;
  width: 0;
  justify-self: start;
  align-self: end;
  animation: 
    growHorizontal 2.5s 7.5s 1,
    moveVertical 4s 12.5s 1,
    shrinkHorizontal 2s 17s 1;;
  animation-fill-mode: forwards;
}

.gallery img:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
  width: 0;
  justify-self: end;
  align-self: end;
  animation: 
    growHorizontal 2s 8s 1,
    shrinkHorizontal 2s 17s 1;
  animation-fill-mode: forwards;
}

.gallery img:nth-child(7) {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 0;
  justify-self: end;
  align-self: end;
  object-position: 0 0;
  animation: 
    growHorizontal 2s 20s 1,
    moveHorizontal 16s 21.5s 1;
  animation-fill-mode: forwards;
}
















.lastarea{
    padding-top:25px;
    text-align:start;
    margin-top:50px;
    background: linear-gradient(1deg, rgba(253, 0, 0, 0.75) 0%, rgba(58, 199, 199, 0.75) 100%);
    /* color:#fd0000; */

}
.lastarea ul li a{
    color:white;
    text-decoration:none;
    font-family:mv boli;
    /* font-weight:bold; */
    
   
}
.lastarea ul{
    list-style-type:none;
}
.quick-link p{
    border-left:solid 3px #fd0000;
    margin-left:30px;
    margin-bottom:30px;
    padding-left:10px;
    /* text-shadow:1px 1px 10px ; */
    font-size:14px;
    opacity:1;
    font-family: "Noto Serif Display", serif;
    font-size:1.1em;

    
}
 
.lastarea .text-guide h3{
    color:skyblue;
    font-weight:bold;
    font-family:mv boli;
    text-shadow:1px 1px 5px #0d0d0d;
    margin-left:50px;
    padding-left:20px;
    border-left:solid 5px #fd0000;

}
.lastarea .text-guide p{
    padding-top:20px;
    /* color:white; */
    padding-left:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    


}
.lastarea ul li a:hover{
    color:black;
}
.footerarea hr{
    color:skyblue;
    width:80%;
    text-align:center;
    height:5px;
}
.footerarea p{
    color:black;
    font-size:18px;
    font-family:mv boli;
    text-align:center;
}